VAR_INIT_VALUE : 0.1 # hyperparameter for variable initial value
DROPOUT_RATE : 0.5
SEED : 66478    # Set to None for random seed.

VALIDATION_SIZE : 5000    # Size of the validation set.
BATCH_SIZE : 64
NUM_EPOCHS : 10
EVAL_BATCH_SIZE : 64
EVAL_FREQUENCY : 100    # Number of steps between evaluations.

# define logging information
log_path: '../log/mnist-conv_fiter4.csv'

train_device_id : "/gpu:0"
eval_device_id : "/gpu:3"
gpu_memory_fraction : 0.9