dataset : "mnist"
algorithm : "grid"

num_epochs : 3 # set 3 later
do_eval : False # Set True to track performance changes

# search space definition 
#filter_sizes : [2, 4, 6, 8, 12, 14]
#conv1_depths : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
#conv2_depths : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
#fc_depths : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

# for simple test only
filter_sizes : [4]
conv1_depths : [512]
conv2_depths : [512]
fc_depths : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]


# logging info
#log_path : "grid_all_again2.csv"
log_path : "../log/grid.csv"